$primary-color: #fff;

h1, h2, h3, h4, h5, h6 {
  font-family: "Merriweather";
}

p, span {
  font-family: "Merriweather";
}
pre {
  white-space: pre-wrap;       /* Since CSS 2.1 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
  margin: 0;
}
// overriding styles for MUI buttons
button {
  box-shadow: none !important;
  border-radius: 0px !important;
  border: 2px solid #000 !important;
}
.MiniDrawer-drawerOpen-4 {
  border-right: 2px solid #000 !important;
}
.list-item {
  height: 80px;
  border-bottom: 2px solid #000 !important;
}
.hidden {
  visibility: hidden;
}
.login-input {
  border-bottom: 2px solid #000 !important;
  font-family: "Merriweather" !important;
  height: 50px;
  margin-bottom: 10px;
}
.login-button {
  width: 200px !important;
  box-shadow: none !important;
  border-radius: 0px !important;
  border: 2px solid #000 !important;
  background-color: #ccc !important;
  text-transform: lowercase !important;
}
.upload-picture-button {
  width: 200px !important;
  margin-bottom: 20px !important;
  background-color: #ccc !important;
  text-transform: lowercase !important;
  border: 2px solid #000 !important;
  border-radius: 0px !important;
  font-size: 14px;
  width: 100%;
}
.side-icon {
  color: #000;
}
.side-nav-text {
  color: #000;
  span {
    font-weight: 700 !important;
    font-family: "Merriweather";
    font-size: 20px;
  }
}

.App {
  width: 100vw;
  height: 100vh;
  background-color: $primary-color;
  font-family: "Merriweather";
}

.App-Content {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 240px;
  width: 100%;
  height: 100%;
  .content-container {
    height: 100%;
    margin-left: 100px;
    margin-right: 100px;
    // background-color: #fcf;
  }
}

.Login-Page {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1500;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  .Login-Form {
    width: 370px;
    height: 520px;
    border: 2px solid #000;
    .logo {
      display: flex;
      align-items: center;
      .logo-img {
        margin: 0 auto;
        margin-top: 50px;
      }
    }
    .logo-name {
      align-items: center;
      text-align: center;
      position: relative;
      top: -20px;
    }
    .form {
      width: 100%;
      display: flex;
      align-items: center;
      flex-direction: column;
    }

  }
}

.section-1 {
  height: 120px;
  .title-section {
    height: 120px;
    display: flex;
    align-items: center;
    font-size: 32px;
    font-weight: 700;
  }
}
.details-content {
  position: relative;
  border: 2px solid #000;
  min-height: 10vh;
  padding: 20px;
  overflow: hidden;

  .social-feed {
    .line-down {
      position: absolute;
      top: 0px;
      left: 39px;
      min-width: 2px;
      background-color: #000;
      min-height: 100vh;
      height: 100%;
      z-index: 11;
    }
    .social-item {
      display: flex;
      align-items: center;
      margin-bottom: 20px;
      height: 50px;
      .circle {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        border: 2px solid #000;
        margin: 0px 10px;
        margin-right: 30px;
        background-color: #fff;
        z-index: 12;
      }
      .social-text {
      }
      &:hover {
        cursor: pointer;
        background-color: #ccc;
        // border: 2px solid #000;
        .circle { background-color: #ccc; }
      }
    }
  }
}

.ProjectList-contain {
  .section-1 {
    display: flex;
    align-items: center;
    height: 120px;
    justify-content: space-between;

    .buttons {
      display: inline-block;
      .download-button {
        margin-right: 10px;
        font-size: 12px;
      }
      .stem-button {
        font-size: 12px;
      }
    }
  }
}

.ProjectList-contain {
  .social-feed .social-item {
    padding: 10px 0;
    height: auto;
    margin: 0;
  }
}

.ProjectDetail-contain {
  .section-1 {
    display: flex;
    align-items: center;
    height: 120px;
    justify-content: space-between;

    .buttons {
      display: inline-block;
      .download-button {
        margin-right: 10px;
        font-size: 12px;
      }
      .stem-button {
        font-size: 12px;
      }
    }
  }
  // playback audio ui
  .section-2 {
    .playback-ui {
      width: 100%;
      height: 120px;
      border: 2px solid #000;
      display: flex;
      align-items: center;
      .play-button {
        width: 80px;
        flex-grow: 1;
      }
      .audio-button {
        width: 200px;
        flex-grow: 1;
      }
      .all-bars {
        margin-left: 15px;
        display: flex;
        flex-grow: 1;
        align-items: center;
        flex-direction: row;
        width: 100%;
        overflow: hidden;
        .single-bar {
          margin: 2px;
          min-width: 2px;
          border-radius: 2px;
          background-color: #000;
        }
      }
      padding: 20px;
    }
    // background-color: #ffc;
  }
  .section-3 {
    margin-top: 50px;
    .tabs {
      display: flex;
      .discuss-tab {
        padding: 15px;
        margin-right: 10px;
        background-color: #e0e0e0;
        border: 2px solid #000;
        border-bottom: none;
        &:hover {
          cursor: pointer;
          background-color: #ccc;
        }
      }
      .collab-tab {
        padding: 15px;
        margin-right: 10px;
        border: 2px solid #000;
        background-color: #e0e0e0;
        border-bottom: none;
        &:hover {
          cursor: pointer;
          background-color: #ccc;
        }
      }
      .graph-tab {
        padding: 15px;
        border: 2px solid #000;
        background-color: #e0e0e0;
        border-bottom: none;
        &:hover {
          cursor: pointer;
          background-color: #ccc;
        }
      }
    }
    // background-color: #cfc;
  }
  .section-4 {}
}