$primary-color: #fff;

h1, h2, h3, h4, h5, h6 {
  font-family: "Merriweather";
}

p, span {
  font-family: "Merriweather";
}
// overriding styles for MUI buttons
button {
  box-shadow: none !important;
  border-radius: 0px !important;
  border: 2px solid #000 !important;
}
.MiniDrawer-drawerOpen-4 {
  border-right: 2px solid #000 !important;
}
.list-item {
  height: 80px;
  border-bottom: 2px solid #000 !important;
}
.side-icon {
  color: #000;
}
.side-nav-text {
  color: #000;
  span {
    font-weight: 700 !important;
    font-family: "Merriweather";
    font-size: 20px;
  }
}

.App {
  width: 100vw;
  height: 100vh;
  background-color: $primary-color;
  font-family: "Merriweather";
}

.App-Content {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 240px;
  width: 100%;
  height: 100%;
  .content-container {
    height: 100%;
    margin-left: 100px;
    margin-right: 100px;
    // background-color: #fcf; 
  }
}

.section-1 {
  height: 120px;
  .title-section {
    height: 120px;
    display: flex;
    align-items: center;
    font-size: 32px;
    font-weight: 700;
  }
}
.details-content {
  border: 2px solid #000;
  min-height: 50vh;
  padding: 20px;
}

.ProjectDetail-contain {
  .section-1 {
    display: flex;
    align-items: center;
    height: 120px;
    justify-content: space-between;

    .buttons {
      display: inline-block;
      .download-button {
        margin-right: 10px;
        font-size: 12px;
      }
      .stem-button {
        font-size: 12px;
      }
    }
  }
  // playback audio ui
  .section-2 {
    .playback-ui {
      width: 100%;
      height: 120px;
      border: 2px solid #000;
      display: flex;
      align-items: center;
      .playback-button {
        flex-grow: 1;
      }
      .all-bars {
        margin-left: 15px;
        display: flex;
        flex-grow: 1;
        align-items: center;
        flex-direction: row;
        width: 100%;
        overflow: hidden;
        .single-bar {
          margin: 2px;
          min-width: 3px;
          background-color: #000;
        }
      }
      padding: 20px;
    }
    // background-color: #ffc;
  }
  .section-3 {
    margin-top: 50px;
    .tabs {
      display: flex;
      .discuss-tab {
        padding: 15px;
        margin-right: 10px;
        background-color: #e0e0e0;
        border: 2px solid #000;
        border-bottom: none;
        &:hover {
          cursor: pointer;
          background-color: #ccc;
        }
      }
      .collab-tab {
        padding: 15px;
        margin-right: 10px;
        border: 2px solid #000;
        background-color: #e0e0e0;
        border-bottom: none;
        &:hover {
          cursor: pointer;
          background-color: #ccc;
        }
      }
      .graph-tab {
        padding: 15px;
        border: 2px solid #000;
        background-color: #e0e0e0;
        border-bottom: none;
        &:hover {
          cursor: pointer;
          background-color: #ccc;
        }
      }
    }
    // background-color: #cfc;
  }
  .section-4 {}
}